include ../includes/helpers
doctype html
html(lang='en')
    head
        block title
        meta(charset='utf-8')
        block description
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include ../includes/favicon
        link(rel='stylesheet', href='css/main.css')
    body(class=classPage )
        include ../includes/header
        block content
        include ../includes/footer
        script(src='js/recursos.min.js')
        script(src='js/main.js')
