/* Mixins
  =============== */

/// Container's maximum width

// $max-width: 1000px;
$max-width: 1180px;

@mixin contenedor() {
    max-width: $max-width;
    margin: 0 auto;
}

.contenedor {
    @include contenedor;
    padding: 0 20px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
