
// Breakpoints
$mobile-portrait: 320px;
$mobile-lanscape: 530px;
$tablet-portrait: 700px;
$tablet-lanscape: 830px;
$desktop 		: 1000px;

$mp 	: $mobile-portrait;
$ml 	: $mobile-lanscape;
$tp 	: $tablet-portrait;
$tl 	: $tablet-lanscape;
$d 		: $desktop;

// Fuentes

// Colores
