extends ../templates/main-template

block title
    -var project = {name: 'Site', section: 'Section'}
    title= project.name +' | ' + project.section

block description
    meta(name='description', content='Page description')
    - var classPage = 'home'
block content
    p Hello world! This is HTML5 Boilerplate.
